<div class="container" ng-cloak>
    <div class="row padding-medium align-right">
        <a ui-sref="newOrder" class="btn-link">Add New</a>
    </div>

        <div class="row hover-row">
            <div class="col-xs-3" ng-repeat="order in orders" ng-if="orders.length > 0" ng-class="$index % 2 == 0 ? 'orderBlock' : 'orderBlockNoBorder'">
                <div class="text-center orderNumber" ui-sref="orderDetails({orderUniqueId: order.UniqueId })">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <strong class="fa-stack-1x">{{order.Id}}</strong>
                    </span>
                </div>
                <div class="text-center">
                    <h4>{{order.CustomerFirstName + " " + order.CustomerLastName}}</h4>
                    <p><b>{{order.Status}}</b></p>
                    <p>Location : <b>{{order.Location}}</b></p>
                    <h4>Total: {{order.Total}}</h4>
                </div>
                <div class="text-center">
                    <div class="btn btn-success zIndex" ng-if="order.Status == 'PaymentExpected'" ng-click="capturePayment(order.Id)">Capture Payment</div>
                    <div class="btn btn-success zIndex" ng-if="order.Status != 'PaymentExpected'" ui-sref="customizeOrder({orderUniqueId: order.Id })">Update</div>
                    <div class="btn btn-danger zIndex" ng-click="cancelOrder(order.Id)">Cancel</div>
                </div>
            </div>
            <div class="hover"></div>
        </div>
        
        <div ng-if="orders.length == 0">
            <h4>Currently, there are no orders.</h4>
        </div>
</div>