<div class="container">
    <div class="row">
        <div class="Jumbotron ">
            <h1>Block Hover animation</h1>
            <small>with bootstrap row</small>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row hover-row">
        <div class="col-xs-3">
            <img src="http://lorempixel.com/300/200/abstract/1" alt="" />
            <div class="text-center">
                <h4>Title deninition</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio alias obcaecati. Dolorem natus laborum consequuntur itaque porro cumque veniam?</p>
            </div>
        </div>
        <div class="col-xs-3">
            <img src="http://lorempixel.com/300/200/abstract/3" alt="" />
            <div class="text-center">
                <h4>Title deninition</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio alias obcaecati. Dolorem natus laborum consequuntur itaque porro cumque veniam?</p>
            </div>
        </div>
        <div class="col-xs-3">
            <img src="http://lorempixel.com/300/200/abstract/2" alt="" />
            <div class="text-center">
                <h4>Title deninition</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio alias obcaecati. Dolorem natus laborum consequuntur itaque porro cumque veniam?</p>
            </div>
        </div>
        <div class="col-xs-3">
            <img src="http://lorempixel.com/300/200/abstract/4" alt="" />
            <div class="text-center">
                <h4>Title deninition</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio alias obcaecati. Dolorem natus laborum consequuntur itaque porro cumque veniam?</p>
            </div>
        </div>
        <div class="hover"></div>
    </div>
</div>
<hr />